<poke-tabs selected="0" >

  <section>
    <iframe height="1000px" width="1200px" src="https://pokepredix-charriest-radionuclide.run.aws-usw02-pr.ice.predix.io/"></iframe>
  </section>

  <section>
    <asset-list load-data="{{assets}}"></asset-list>
  </section>

  <section>
    <asset-list load-data="{{lat}}"></asset-list>
  </section>

    <section>
    <asset-list load-data="{{long}}"></asset-list>
  </section>

    <section>
    <asset-list load-data="{{id}}"></asset-list>
  </section>

</poke-tabs>
